data/images/
data/images/
data/dev/
static/captcha_recveh.png
static/captcha_satimp.png
static/captcha_soat.png
static/temp_img.png
outbound/
static/captcha_sunarp.png
static/sunarp_temp.jpg
kpvn.png
test.png
data/members.db-journal
data/members.db
data/
src/chromedriver*
erase*
test.py
