<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a NoTePasesPE</title>
    <style>
    .alert-box {
      background-color: #fff3cd;
      color: #856404;
      border: 1px solid #ffeeba;
      padding: 15px;
      border-radius: 5px;
      margin: 20px 0;
    }
    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: #f4f4f4; padding: 20px; color: #333;">
    <h1 style="color: #003b6d;">Bienvenido a NoTePasesPE.com</h1>
    <p>Hola {{nombre_usuario}},</p>

    <p>¡Gracias por formar parte de <strong>NoTePasesPE</strong>!</p>

    <p>A partir de ahora podrás ingresar a nuestro portal web para acceder a las siguientes funcionalidades:</p>

    <ul>
        <li>Editar tus placas registradas.</li>
        <li>Actualizar tus datos personales y de contacto.</li>
        <li>Cambiar o recuperar tu contraseña en caso la olvides.</li>
        <li>Eliminar tu cuenta en cualquier momento.</li>
        <li>Crear una nueva cuenta si aún no estás registrado.</li>
    </ul>

    <p>Te recomendamos mantener tus datos siempre actualizados para recibir alertas a tiempo sobre:</p>
    <ul>
        <li>Multas recientes.</li>
        <li>Vencimientos de SOAT, Revisión Técnica y Licencia.</li>
        <li>Estado de tus deudas vehiculares.</li>
        <li>Afiliaciones a partidos politicos o multas electoral (aun en desarrollo)</li>
    </ul>


        <div class="alert-box">
        <strong><a href="http://nopasanadape.com" style="color: #0073e6;">nopasanadape.com</a></strong>
      </div>
    
    <p><strong>Usuario:</strong> esta dirección de correo.</br>
    <strong>Contraseña:</strong> primeras dos letras de tu correo + los últimos 4 dígitos de tu DNI.</p>
    <p>Ejemplo: para juan@perez.pe con DNI 12345678 la contraseña es <strong>ju5678</strong>.</p>
    <p style="margin-top: 40px;">Gracias por confiar en nosotros,</p>
    <p><strong>El equipo de NoTePasesPE</strong></p>

    <hr style="margin-top: 40px; border: none; height: 1px; background-color: #ccc;">
    <p style="font-size: small; color: #777;">Si tienes alguna duda o necesitas asistencia, no dudes en contactarnos a <a href="info@nopasanadape.com">info@nopasanadape.com</a>.</p>
</body>
</html>
