{% extends "base_page.html" %}

{% set placa_style = "font-weight: bold; border-radius: 5px; border: 1px solid #dee2e6; margin-bottom: 15px" %}

{% block title %}
    Mi Cuenta
{% endblock %}

{% block content %}
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="">
            <fieldset class="form-group">
        
        <div class="row">

            <!-- Seccion Mis Datos -->
            <div class="col-4 p-4">
                <div class="card mb-3">
                    <div class="card-header text-white", style="background-color: #2196f3">
                        <h2 class="h5 mb-0">
                            Mis Datos
                        </h2>
                    </div>
                    <div class="card body p-3">

                        <!-- Campo de codigo -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('codigo') %} is-invalid {% endif %}"
                                    id="codigo" name="codigo" value="{{ user[1] }}" , placeholder="empty" readonly>
                            <label for="codigo" class="form-label">
                                Codigo
                            </label>
                        </div>

                        <!-- Campo de correo -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('correo') %} is-invalid {% endif %}"
                                    id="correo" name="correo" value="{{ user[6] }}" , placeholder="empty" readonly>
                            <label for="correo" class="form-label">
                                Correo
                            </label>
                        </div>

                        <!-- Campo de nombre -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('nombre') %} is-invalid {% endif %}"
                                    id="nombre" name="nombre" value="{{ user[2] }}" , placeholder="empty">
                            <label for="nombre" class="form-label">
                                Nombre
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("nombre") %}
                                <div class="mt-2">
                                {% for error in errors.nombre %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Campo de DNI -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('dni') %} is-invalid {% endif %}"
                                    id="dni" name="dni" value="{{ user[4] }}" , placeholder="empty">
                            <label for="dni" class="form-label">
                                DNI
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("dni") %}
                                <div class="mt-2">
                                {% for error in errors.dni %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Campo de celular -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('celular') %} is-invalid {% endif %}"
                                    id="celular" name="celular" value="{{ user[5]}}" , placeholder="empty">
                            <label for="celular" class="form-label">
                                Celular
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("celular") %}
                                <div class="mt-2">
                                {% for error in errors.celular %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

            <!-- Seccion Mis Placas -->
            <div class="col-4 p-4">
                <div class="card mb-3">
                    <div class="card-header text-white", style="background-color: #2196f3">
                        <h2 class="h5 mb-0">
                            Mis Placas
                        </h2>
                    </div>
                    <div class="card body p-3">

                        <!-- Campo de placa 1 -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('placa1') %} is-invalid {% endif %}"
                                    id="placa1" name="placa1" value="{{ placas[0]}}" , placeholder="empty">
                            <label for="placa1" class="form-label">
                                Placa
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("placa1") %}
                                <div class="mt-2">
                                {% for error in errors.placa1 %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Campo de placa 2 -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('placa2') %} is-invalid {% endif %}"
                                id="placa2" name="placa2" value="{{ placas[1] }}" , placeholder="empty">
                            <label for="placa2" class="form-label">
                                Placa
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("placa2") %}
                            <div class="mt-2">
                                {% for error in errors.placa2 %}
                                <small class="text-danger">
                                    {{ error }}
                                </small>
                                <br>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Campo de placa 3 -->
                        <div class="form-group justify-content-between align-items-center form-floating mb-3">
                            <input type="text" class="form-control {% if errors.get('placa3') %} is-invalid {% endif %}"
                                id="placa3" name="placa3" value="{{ placas[3] }}" , placeholder="empty">
                            <label for="placa3" class="form-label">
                                Placa
                            </label>
                            <!-- Mensajes de error -->
                            {% if errors.get("placa3") %}
                            <div class="mt-2">
                                {% for error in errors.placa3 %}
                                <small class="text-danger">
                                    {{ error }}
                                </small>
                                <br>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        <!-- Botones Grabar Cambios y Eliminar Cuenta -->
        <div class = "row">
            <div class="col p-4 text-center">
                <button type="submit" name="actualizar" class="btn text-white" style="background-color: #2196f3">Actualizar</button>
                <button type="submit" name="eliminar" class="btn text-white" style="background-color: #dc3545; margin-left: 10px;">Eliminar Cuenta</button>
            </div>
        </div>
        </form>
        </div>
    </div>
</div>

{% endblock content %}